<!--<div class="container-fluid onc-index-page" role="main" style="background-color: #ffc62f;padding: 3px;"></div>-->
<div class="container-fluid onc-index-page" role="main" style="background-color: #fff; padding: 50px 0 10px;">
  
  <%= erb(:missing_valuesets, {}, {}) %>

  <%= erb(:resource_validator_version, {}, {}) %>

  <div class="row">
    <div class="col">
      <div class="container row row-no-padding align-items-center" style="margin:auto;" >

        <div class="col-12" style="color: #063d75; text-align: center;">
        <img src="/images/icon_logo.png" style='width: 125px; display:block; margin-left: auto; margin-right: auto;'>
        <div style="    font-weight: bolder;
        margin: 12px;
        display: inline-block;
        font-size: 36px;
        /* font-style: normal; */
        font-family: 'Roboto Condensed';">
        INFERNO PROGRAM EDITION
        </div>
        <div style="display: inline-block; font-size: 26px;">
        Test conformance to the Standardized API for Patient and Population Services criterion § 170.315(g)(10) in the 2015 Edition Cures Update.
        </div>
        <!--<div style="display: inline-block; font-size: 26px; margin-top: 50px;">
        <button class="btn btn-dark" type="button">Start Testing</button>
        </div>-->
        <form method="POST" action="<%=base_path%>/" style="margin:  0 auto;margin-top: 40px;width: 800px;" class="form-inline">
        <input type="hidden" name="client_endpoint_key" value="static" />
        <%= erb(:module_options,{},modules: modules) %>

  <div class="form-group mx-sm-3 mb-2">
    <label for="fhir_server" class="sr-only">FHIR Server</label>
    <input type="url" required class="form-control form-control-lg"  style="width: 600px" id="fhir_server" name="fhir_server" placeholder="Enter a FHIR Endpoint" aria-label="Start Testing">
  </div>
  <button type="submit" class="btn btn-lg btn-secondary mb-2">START TESTING</button>


        <% if presets.present? %>
          <% module_names = Array.new(modules.length).map!.with_index{ |mod, i| modules[i].name } %>
          <div class="form-group" style="margin-left: 250px;">
            <label for="preset-select" class="preset-label">
              Or test Inferno against
            </label>
            <select class="custom-select custom-select-lg" name="preset" style="padding-left: 5px;margin: 0 0;border: 0;text-decoration: underline;" id="preset-select">
              <option value="" data-module_names=<%=module_names.join(',')%> data-all='<%=presets.to_json%>' data-selected="">a public sandbox</option>
              <% presets.each do |preset| %>
                <option value="" data-module_names=<%=module_names.join(',')%> data-all='<%=presets.to_json%>' data-selected=<%=preset.at(0)%>><%=preset.at(1)["name"]%></option>
              <% end %>
              <input type="hidden" name="preset" id="preset" value="" />
            </select>
            
            <a id="instructions-link" class="instructions-link" href="" target="_blank" style="display:none">Instructions</a>
          </div>

        </div>

        <% end %>
      </fieldset>
    </form>

    </div>
        <%= erb(:restricted_codesystems, {}, {}) %>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid onc-index-page" role="main" style="margin-top: 20px; background-image: url(/images/gradient.png);background-color: #f2f2f2;padding: 3px;background-size:cover;"></div>
<div class="container-fluid onc-index-page" role="main" style="background-color: #efefef; border-bottom: 1px solid #dedede;">
<div class="row">
<div class="col">
  <div class="container row row-no-padding align-items-center" style="margin:auto;" >
<ul class="nav nav-pills mb-3" id="pills-tab" style="margin-right: 0px; font-size: 20px;margin-bottom: 0px !important;" role="tablist">
<li class="nav-item">
  <a class="nav-link active" id="pills-overview-tab" data-toggle="pill" href="#pills-overview" role="tab" aria-controls="pills-overview" aria-selected="true">OVERVIEW</a>
</li>
<li class="nav-item">
  <a class="nav-link" id="pills-data-tab" data-toggle="pill" href="#pills-data" role="tab" aria-controls="pills-data" aria-selected="false">SAMPLE DATA</a>
</li>
<li class="nav-item">
  <a class="nav-link" id="pills-install-tab" data-toggle="pill" href="#pills-install" role="tab" aria-controls="pills-install" aria-selected="false">INSTALLATION INSTRUCTIONS</a>
</li>
<li class="nav-item">
  <a class="nav-link" id="pills-notes-tab" data-toggle="pill" href="#pills-notes" role="tab" aria-controls="pills-notes" aria-selected="false">RELEASE NOTES</a>
</li>
</ul>
</div>
</div>
</div>
</div>


<div class="container" style="background-color: white">
  <div class="main index-page onc-index">

    <div class="onc-index-banner">

    </div>

    <div class="onc-index-below">
 
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane show active" style="font-size: 20px;" id="pills-overview" role="tabpanel" aria-labelledby="pills-overview-tab">
    <div style="padding: 15px 0; font-size: 30px;">Inferno Program Edition</div>


    <p>
    Inferno Program Edition is a streamlined testing tool for  Health
    Level 7 (HL7®) Fast Healthcare Interoperability Resources (FHIR®) services seeking to meet
    the requirements of the Standardized API for Patient and Population Services criterion § 170.315(g)(10) in the 2015 Edition Cures Update.
    </p>
    <p>
    Inferno behaves like an API consumer, making a series of HTTP requests that mimic a real world client to ensure that the API
    supports all required standards, including:
    </p>
    <ul>
    <li>FHIR Release 4.0.1</li>
    <li>FHIR US Core Implementation Guide (IG)
    STU 3.1.1</li>
    <li>SMART Application Launch Framework Implementation Guide Release 1.0.0</li>
    <li>HL7 FHIR Bulk Data Access (Flat FHIR) (v1.0.0: STU 1) </li>
    </ul>
    <p>
    Inferno is open source and freely available for use or adoption by the health IT community
    including EHR vendors, health app developers, and testing labs. It can be used as a testing tool
    for the EHR Certification program supported by the Office of the National Coordinator for Health IT (ONC).
    </p>

    <p>
    To get started, enter the endpoint of the FHIR service.  Inferno Program Edition is only intended to be
    used on test systems that do not contain PHI.
    </p>
  
  </div>

  <div class="tab-pane" style="font-size: 20px;" id="pills-data" role="tabpanel" aria-labelledby="pills-data-tab">
    <div style="padding: 15px 0; font-size: 30px;">Sample Test Data</div>
    <p>
    Inferno does not currently require a specific set of data to be entered into the system under test prior to testing.
    Instead, it leverages FHIR's built-in conformance rules to ensure that data returned
    is valid FHIR, conforms to required profiles, and contains all elements that must be supported. This allows
    systems to use test data that is relevant to their intended uses.
    </p>

    <p>
If needed, Inferno supplies multiple synthetic data sets suitable for testing. These data sets are ideal for testing
because they provide coverage of all US Core profiles and support for all MUST SUPPORT data elements without
requiring a large set of patients or sacrificing realism.
</p>
<p>
Use of these data sets is optional.
</p>
<p>
The synthetic data sets are available for download in compressed archives at <a href="https://github.com/inferno-community/uscore-data-sets">Inferno US Core Data Sets</a>.
</p>
<p>
There are three data sets available:
</p>
<ul>
  <li><b>Single patient</b> with all US Core profiled resources and USCDI elements</li>
  <li><b>Small population</b>, handful of patients covering all US Core profiles and USCDI elements</li>
  <li><b>Large population</b>, hundreds of patients covering all US Core profiles and USCDI elements</li>
</ul>
<p>
Each data set is available as FHIR JSON Transaction Bundles and FHIR Bulk Data format.
</p>
<p>
Additional data sets can be generated using the open-source <a href="https://github.com/synthetichealth/synthea">Synthea<sup>TM</sup></a> tool and the <a href="https://github.com/inferno-community/uscore-data-script">Inferno US Core Data Script</a>.
</p>

  </div>
  <div class="tab-pane" id="pills-install" role="tabpanel" aria-labelledby="pills-install-tab">
    <div style="padding: 15px 0; font-size: 30px;">How to Install Locally</div>

    <p>
    ONC provides a demonstration instance of Inferno Program Edition at <a href="https://inferno.healthit.gov/inferno">https://inferno.healthit.gov/inferno</a>.
    However, Inferno is intended to be downloaded and run locally.
    </p>

    <p>
Docker is the recommended installation method for Windows devices and can also be used on Linux and MacOS hosts.
</p>
<p>
Install <a href="http://www.docker.com">Docker</a> for the host platform as well as the <a href="https://docs.docker.com/compose/install/">docker-compose tool</a> (which may be included in the distribution, as is the case for Windows and MacOS).
</p>
<ol>
<li><a href="https://github.com/onc-healthit/inferno-program/releases">Download the latest release</a> of the inferno project to your local computer on a directory of your choice.
<li>Open a terminal in the directory where the project was downloaded (above).
<li>Run the command docker-compose up to start the server. This will automatically build the Docker image and launch both the ruby server (using unicorn) and an NGINX web server.
<li>Navigate to http://localhost:4567 to find the running application.
</ol>

<p>
If the docker image gets out of sync with the underlying system, such as when new dependencies are added to the application, you need to run docker-compose up --build to rebuild the containers.
</p>

<p>
For alternate installation options, please visit <a href='https://github.com/onc-healthit/inferno-program#installation-and-deployment'>the documentation</a>.
</p>
  
  </div>
  <div class="tab-pane" style="font-size: 20px;" id="pills-notes" role="tabpanel" aria-labelledby="pills-notes-tab">
    <div style="padding: 15px 0; font-size: 30px;">Release Notes</div>

    <div style="padding: 0 0 15px 0; font-size: 24px;">Inferno Program Edition v1.8.0</div>
    <p>
      The Inferno Program Edition v1.8.0 release fixes a number of issues that may incorrectly cause systems to fail tests.
      It also includes a minor fixes not directly related to test execution.
      This release may result in some systems that previously passed to now fail due to additional MustSupport validations.
    </p>
    <p>
      <i>Notice: Users that run Inferno Program Edition locally SHOULD rerun terminology build process, 
      as 2021 version of some Code Systems are included in this release.
      Please see <a href="https://github.com/onc-healthit/inferno-program/#terminology-support">the README</a> for instructions on how to
      update your local copy of terminology files. Users MAY run this release without rebuilding terminology though tests may fail to 
      validate codings from newer version of Code Systems.</i>
    </p>    
    <p>This version includes updates that:</p>
    <ul>
      <li>Adds MustSupport validation for Observation.component in FHIR Blood Pressue profile</li>
      <li>Removes MustSupport validation for dataAbsentReason in Observation profiles so that systems that never provide Observation resources without a value are not required to support dataAbsentReason</li>
      <li>Updates MustSupport validation on DocumentReference resources so that servers do not need to demonstrate support for both content.attachment.url and content.attachment.data</li>
      <li>Updates composite-or searches focusing on server's search capabilities with multiple values</li>
      <li>Allows authorization servers to grant additional scopes beyond what was requested by clients</li>
      <li>Allows tester to include Person.read scopes in requested scope
      <li>Restricts reference resolution and validation to US Core resources so that servers can reference resources outside of what clients have been granted</li>
      <li>Removes check within the Bulk Data Export tests (BDE-02) that required systems to reject export requests with content-type other than what specified in Bulk Data Access IG v1.0.0</li>
      <li>Adds UI input field for Bulk Data Export timeout setting</li>
      <li>Adds system/Patient.read to the default Bulk Data scopes</li>
      <li>Update terminology to newer version</li>
    </ul>
    </p>
    <p>
      Please see the <a href='<%=base_path%>/static/downloads/onc_program_matrix_1_8_0.xlsx'>Test Procedure Matrix</a> to view a mapping
      between Inferno Tests and the 2015 Cures Update Test Procedure.
    </p>

    <div style="padding: 0 0 15px 0; font-size: 24px;">Inferno Program Edition v1.7.0</div>
    <p>
    The Inferno Program Edition v1.7.0 release fixes a number of issues that may incorrectly cause systems to fail tests.
    It also includes a minor fixes not directly related to test execution.
    This release may result in some systems that previously passed to now fail due to additional id data type validation.
    </p>
    <p>This version includes updates that:</p>
    <ul>
      <li>Adds validation for FHIR id data type specified in FHIR v4.0.1.</li>
      <li>Removes check within the Bulk Data Authorization test (BDA-03) that required systems to reject authorization requests with scopes other than system scopes specified in Bulk Data Access IG v1.0.0.</li>
      <li>Removes check within the Bulk Data Export tests (BDE-04 and BDE-05) that required systems to reject export requests with headers other than what specified in Bulk Data Access IG v1.0.0.</li>
      <li>Adds support for IE 11 in EHR Launch Test.</li>
      <li>Accepts HTTP response with status 401 as valid response for Bulk Data Authorization test (BDA-06).</li>
      <li>Fixes issue where headers with invalid characters in HTTP response could crash Inferno tests.</li>
      <li>Fixes the race condition in reference resolution tests.</li>
      <li>Fixes issue where MustSupport tests in Multi-Patient cause inadvertent effects of tests in Single-Patient setting.</li>
      <li>Adds the use parameter in Inferno's public keys that are used in the Multi-Patient API tests.</li>
    </ul>
    </p>
  <p>

    Please see the <a href='<%=base_path%>/static/downloads/onc_program_matrix_1_7_0.xlsx'>Test Procedure Matrix</a> to view a mapping
    between Inferno Tests and the 2015 Cures Update Test Procedure.
  </p>

    <div style="padding: 0 0 15px 0; font-size: 24px;">Inferno Program Edition v1.6.2</div>
    <p>
    The Inferno Program Edition v1.6.2 release fixes a number of issues that may incorrectly cause systems to fail tests.
    It also includes a minor fixes not directly related to test execution.
    Systems that passed tests in Inferno Program Edition v1.6.1 should continue to pass in v1.6.2.
    </p>
    <p>This version includes updates that:</p>
    <ul>

    <li>Moves tests that ensure authorization servers reject invalid content during the token exchange step within the 'Standalone Patient App - Full Patient Access' tests ('SPB-OSLS-05', 'SPB-OSLS-06') to a separate sequence 'Other > SMART App Launch Error: Invalid Access Token Request'. This has been done to ensure that servers are allowed to invalidate codes that have been tampered with during the authorization code exchange process. This requires testers to perform an extra SMART launch, but the tests have not been changed otherwise.</li>
    <li>Removes check within the US Core Provenance tests (USCPROV-04) that required systems to state they support the search interaction within the Provenance resource in their CapabilityStatement. Search is not required to be supported for the Provenance resource for compliance to US Core v3.1.1.</li>
    <li>Updates Single Patient API tests to ignore invalid patient IDs provided by tester. Previously tests failed without properly explaining the cause of failure.</li>
    <li>Fixes tests that incorrectly required exact string matches when searching by strings in certain cases, instead of "starts with" matches.</li>
    <li>Fixes issue where the "Refresh Token" input was not pre-filled in the "Token Revocation" test in certain situations.</li>
    </ul>
    </p>
  <p>

    Please see the <a href='<%=base_path%>/static/downloads/onc_program_matrix_1_6_2.xlsx'>Test Procedure Matrix</a> to view a mapping
    between Inferno Tests and the 2015 Cures Update Test Procedure.
  </p>
    <div style="padding: 0 0 15px 0; font-size: 24px;">Inferno Program Edition v1.6.1</div>
    <p>
    The Inferno Program Edition v1.6.1 release fixes one test issue that may incorrectly cause systems to fail tests.
    It also includes a number of fixes not directly related to test execution.
    Systems that passed tests in Inferno Program Edition v1.6.0 should continue to pass in v1.6.1.
    </p>
    <p>Updates in this version include:</p>
    <ul>
    <li>Fixes issue where BCP:13 code validation incorrectly fails systems that include optional MIME Type parameters, such as "charset=UTF-8".</li>
    <li>Fixes issue introduced in v1.6.0 that prevents new installations of Inferno from generating the necessary terminology files used for terminology validation.</li>
    <li>Fixes issue that prevented the command line interface from disabling TLS Peer Validation, which often isn't necessary for CI-related tests.</li>
    </ul>
    </p>
  <p>

    Please see the <a href='<%=base_path%>/static/downloads/onc_program_matrix_1_6_1.xlsx'>Test Procedure Matrix</a> to view a mapping
    between Inferno Tests and the 2015 Cures Update Test Procedure.
  </p>
    <div style="padding: 0 0 15px 0; font-size: 24px;">Inferno Program Edition v1.6.0</div>
      <p>
      The <strong>Inferno Program Edition v1.6.0</strong> release contains test updates that reflect additional guidance provided
      in the <a href="https://www.healthit.gov/test-method/standardized-api-patient-and-population-services#ccg">2015 Cures Update CCG v1.4</a>,
      as well as a number of updates to tests based on bug reports and community feedback.
      This release may result in some systems that previously passed to now fail due to additional search tests.
      <p>
      <i>Notice: This release migrates to an alternate data persistence library because the previous
      library is no longer maintained.  This library uses a different database schema, and therefore users
      that upgrade Inferno in the same directory will not have access to previous test results after upgrading to v1.6.0. </i>
      </p>
      <p>Updates in this version include:</p>
      <ul>
      <li>Include checks for POST-based searches, in addition to the existing checks for GET-based searches, because support for POST-based searches is required in the base FHIR specification.  This update may cause systems that previously passed to now fail.</li>
      <li>Update the "Limited App" tests to no longer require the system under test to demonstrate the ability to deny "offline_access" scopes, as clarified in the CCG update.</li>
      <li>Update language in the "Visual Inspection and Attestation" test to clarify that the system under test needs to inform the user when "offline_access" scopes are being granted.</li>
      <li>Allow systems to use "user-level" scopes for non-Patient compartment, non-USCDI resources in the "Standalone Patient App" tests, as clarified in the CCG update. </li>
      <li>Fix issue where entering an Implantable Device Type Code would cause a search test to incorrectly fail systems.</li>
      <li>Fix issue where the "Multi-Patient App" tests would incorrectly fail systems that included charset or other additional information in the Content-Type header.</li>
      <li>Enable the ability to use Postgres by configuration when deployed in a shared environment for increased stability.  Please review the README for information on how to enable this configuration.</li>
      <li>Migrate from DataMapper to ActiveRecord because DataMapper is no longer maintained and is not receiving security updates.</li>
      <li>Migrate to Ruby v2.7 and update the versions of many of the libraries being used in Inferno.</li>
      </ul>
      </p>
    <p>

      Please see the <a href='<%=base_path%>/static/downloads/onc_program_matrix_1_6_0.xlsx'>Test Procedure Matrix</a> to view a mapping
      between Inferno Tests and the 2015 Cures Update Test Procedure.
    </p>
    <div style="padding: 0 0 15px 0; font-size: 24px;">Inferno Program Edition v1.5.0</div>
      <p>
      The <strong>Inferno Program Edition v1.5.0</strong> release contains a number of fixes to tests that prevented systems from passing in certain cases.
      It also updates the version of the <a href="https://confluence.hl7.org/display/FHIR/Using+the+FHIR+Validator">HL7 FHIR Validator</a> from v4.3.1 to v5.2.10,
      which improves the correctness of FHIR resource validation and allows Inferno to suppress unnecessary errors and warnings.
      The update to the HL7 FHIR Validator may result in some systems that previously passed tests to now fail.
      <p>
      <i>Notice: Users that run Inferno Program Edition locally must update the FHIR Validator Wrapper service to v1.2.0 so that the proper version of the HL7 FHIR Validator is used during tests.  Users
      are prominently alerted in the Inferno user interface when the version of the validator available to Inferno is incorrect.
      For instructions on how to update the validator, please review the <a href="https://github.com/onc-healthit/inferno-program#validator-service">Inferno README</a>.</i>
      </p>
      <p>Updates in this version include:</p>
      <ul>
      <li>Update FHIR Validator Wrapper service to v1.2, which provides a service interface to the HL7 FHIR Validator v5.2.10.</li>
      <li>Allow flexibility for servers to return OperationOutcome resources within US Core FHIR search Bundle responses (<a href="https://github.com/onc-healthit/inferno-program/pull/229">#229</a>).</li>
      <li>Fix issue where using contained resources on certain elements marked as MUST SUPPORT caused errors (<a href="https://github.com/onc-healthit/inferno-program/issues/232">#232</a>).</li>
      <li>Update SMART on FHIR discovery tests to only check capabilities relevant to that API endpoint (<a href="https://github.com/onc-healthit/inferno-program/issues/233">#233</a>).</li>
      <li>Fix issue that occurs when patient name includes comma in certain situations (<a href="https://github.com/onc-healthit/inferno-program/issues/231">#231</a>).</li>
      <li>Allow browsers to run Inferno within within an iframe for testing support for EHR-embedded apps(<a href="https://github.com/onc-healthit/inferno-program/issues/235#issuecomment-786914929">#235</a>).</li>
      <li>Fix issue where a fresh clone of Inferno crashes due to missing validators directory.</li>
      <li>Fix issue where searches by token that include system are improperly formed in certain cases (<a href="https://github.com/onc-healthit/inferno-program/issues/248">#248</a>).</li>
      <li>Add warning to user interface if the validator service available to Inferno is not the correct version.</li>
      </ul>
      </p>
    <p>

      Please see the <a href='<%=base_path%>/static/downloads/onc_program_matrix_1_5_0.xlsx'>Test Procedure Matrix</a> to view a mapping
      between Inferno Tests and the 2015 Cures Update Test Procedure.
    </p>
    <div style="padding: 0 0 15px 0; font-size: 24px;">Inferno Program Edition v1.4.1</div>
    <p>
    The Inferno Program Edition v1.4.1 release fixes two issues that may incorrectly cause systems to fail tests.
    Systems that passed tests in Inferno Program Edition v1.4.0 should continue to pass in v1.4.1.
    </p>
    <p>Updates in this version include:</p>
    <ul>
    <li>Fixes issue where systems that use 'contained' references incorrectly produce an error within the Single Patient API tests.</li>
    <li>Fixes issue where elements with a value of 'false' were not correctly counted during MUST SUPPORT tabluation.</li>
    <li>Fixes issue that occurs if bulk data response streams back chunk with no body data.</li>
    </ul>
    </p>
  <p>

    Please see the <a href='<%=base_path%>/static/downloads/onc_program_matrix_1_4_1.xlsx'>Test Procedure Matrix</a> to view a mapping
    between Inferno Tests and the 2015 Cures Update Test Procedure.
  </p>
    <div style="padding: 0 0 15px 0; font-size: 24px;">Inferno Program Edition v1.4.0</div>
      <p>
      The Inferno Program Edition v1.4.0 release updates tests to reflect changes made to the testing criteria
      within the <a href="https://www.federalregister.gov/documents/2020/11/04/2020-24376/information-blocking-and-the-onc-health-it-certification-program-extension-of-compliance-dates-and">Interim Final Rule (IFR)</a>.
      It also makes a number of changes based on guidance provided in v1.2 of the <a href="https://www.healthit.gov/test-method/standardized-api-patient-and-population-services">2015 Edition Cures CCG</a>.
      These changes will likely alter testing results for systems from Inferno Program Edition v1.3.0.
      </p>
      <p>
      <i>Notice: Users that run Inferno Program Edition locally must download new copies of terminology used within tests, as US Core v3.1.1 altered some ValueSet
      definitions.  Please see <a href="https://github.com/onc-healthit/inferno-program/#terminology-support">the README</a> for instructions on how to
      update your local copy of terminology files.</i>
      </p>
      <p><i>Notice: If you are installing v1.4.0 in the same directory as a previous
      v1.3.0 installation, please delete or rename the files in /data/ (e.g.
      production.db; development.db; test.db). Inferno will fail to load if
      these files are not removed or renamed due to a change in the Inferno
      data schema. </i><p>
      <p>Updates in this version include:</p>
      <ul>
      <li>Updated all Single Patient API tests to reflect changes in US Core v3.1.1 to required searches, profiles and terminology.</li>
      <li>Updated all Multi-Patient API tests to reflect changes in US Core v3.1.1 profiles and terminology.</li>
      <li>Removed all testing requirements for RelatedPerson and PractitionerRole resources, as they are no longer referenced by USCDI-mapped resources.</li>
      <li>Relaxed "must support" checking for choice types and reference types to only require support of one type, instead of all types.</li>
      <li>Added the ability to log visual inspection or attestation for the Native Client refresh token requirement that was described in the IFC.</li>
      <li>Removed tests that require "new" refresh tokens to be issued on token refresh, as clarified in the IFC.</li>
      <li>Updated "must support" checking for the Implantable Device Profile to require demonstrating support for either HRC or AIDC representations of the Unique Device Identifier, instead of both.</li>
      <li>Updated Clinical Notes Guidance test to allow servers to reject searches that do not contain a status parameter.</li>
      <li>Ignore validation errors for the incorrect <a href="http://hl7.org/fhir/us/core/STU3.1.1/StructureDefinition-pediatric-bmi-for-age-definitions.html#Observation.effective[x]">Vital Signs vs-1</a> and <a href="http://hl7.org/fhir/us/core/STU3.1.1/StructureDefinition-us-core-observation-lab-definitions.html#Observation.effective[x]">Laboratory Results us-core-1</a> invariants, as they improperly return errors when Observation.effectivePeriod populated.</li>
      <li>Fixed bug that prevented requests and responses from being displayed in certain cases.</li>
      </ul>
      </p>
    <p>

      Please see the <a href='<%=base_path%>/static/downloads/onc_program_matrix_1_4_0.xlsx'>Test Procedure Matrix</a> to view a mapping
      between Inferno Tests and the 2015 Cures Update Test Procedure.
    </p>
    <div style="padding: 0 0 15px 0; font-size: 24px;">Inferno Program Edition v1.3.0</div>
      <p>
      The Inferno Program Edition v1.3.0 minor release provides the following test updates that may
      alter the result of systems that were able to pass prior versions of these tests:
      </p>
      <ul>
      <li>
        Systems must demonstrate the ability to populate choice type elements within US Core Profiles flagged as 'must support' with every US Core choice type 
        listed for that choice element, unless the Profile flags one or more of the choices type of that element specifically as 'must support'. Previous versions of tests considered
        populating the choice type element with any valid choice type as sufficient evidence that the system supports that choice type element.
        </li>
      <li>Reference resolution tests were updated to verify that references to resources resolve to the correct FHIR type.</li>
      </ul>
      <p> Additionally, the following updates were made which make tests less restrictive or do not affect the outcome of tests:
      </p>
      <ul>
      <li>Fixed issue where tests did not properly save US Core references for the Encounter, Organization and Practitioner resources in certain cases.</li>
      <li>Updated the Inferno configuration file (config.yml) to provide more descriptive detail on the various configuration parameters of Inferno.</li>
      <li>For profiles that do not allow searching only by Patient ID and require at least one other field, tests now are more thorough in crafting queries that retrieve all resources for that profile.  This is important to ensure that all available resources are used to verify all 'must support' elements.</li>
      <li>Fixes to presets for the Inferno FHIR Reference Server.</li>
      </ul>
      </p>
    <p>

      Please see the <a href='<%=base_path%>/static/downloads/onc_program_matrix_1_3_0.xlsx'>Test Procedure Matrix</a> to view a mapping
      between Inferno Tests and the 2015 Cures Update Test Procedure.
    </p>

    <div style="padding: 0 0 15px 0; font-size: 24px;">Inferno Program Edition v1.2.0</div>
      <p>
      The Inferno Program Edition v1.2.0 minor release provides the following test updates that may
      alter the result of systems that were able to pass prior versions of these tests:
      </p>
      <ul>
      <li>Elements of any type within US Core Profiles flagged as 'must support' must contain a value in at least one resource returned in order to qualify as being 'populated'. In certain cases in previous versions, elements containing only a 'Data Absent Reason' qualified as being 'populated'.  Tests were updated to no longer allow 'Data Absent Reason' as proof of the ability to populate an element.</li>
      <li>Systems must demonstrate the ability to populate reference type elements within US Core Profiles flagged as 'must support' with every US Core reference type listed for that reference element. Previous versions of tests considered populating the reference element with any valid reference as sufficient evidence that the system supports that reference element.</li>
      <li>Improved consistency of data validation between the Single Patient API and Multi-Patient API tests.  This includes the addition of two tests that validate PractitionerRole and RelatedPerson resources, if provided as standalone resources.</li>
      </ul>
      <p> Additionally, the following updates were made which should not affect the outcome of tests:
      </p>
      <ul>
      <li>Removed total number of references encountered during testing in final report because it was not accurate in all cases.</li>
      <li>Fixed error in the default scopes that were pre-filled in the Multi-Patient API tests.</li>
      <li>Updated internal mapping to the official ONC Test Procedure v1.1.</li>
      </ul>
      </p>
    <p>
      Please see the <a href='<%=base_path%>/static/downloads/onc_program_matrix_1_2_0.xlsx'>Test Procedure Matrix</a> to view a mapping
      between Inferno Tests and the 2015 Cures Update Test Procedure.
    </p>
    <div style="padding: 0 0 15px 0; font-size: 24px;">Inferno Program Edition v1.1.0</div>
      <p>
      The Inferno Program Edition v1.1.0 minor release provides the following test updates that may
      alter the result of systems that were able to pass prior versions of these tests:
      </p>
      <ul>
      <li>Refined behavior of the Resource Access Verification AVR-01 and AVU-01 tests that are performed after the Single Patient SMART launches to ensure that scopes granted by the system under test are consistent with the expectations of test. </li>
      <li>Added visual inspection steps ATT-11, ATT-12, and ATT-13 to ensure that the Patient Demographics Suffix, Patient Demographics Previous Name, and Allergy and Intolerances Reaction USCDI v1 elements are supported by the system under test. These elements are required within USCDI but are not flagged as "must support" in US Core v3.1, so they must be manually checked during testing. </li>
      </ul>
      <p> Additionally, the following updates were made which fixed issues preventing correct implementations
      from passing prior versions:
      </p>
      <ul>
      <li>Fixed issue where resources using primitive extensions was incorrectly failing validation in certain cases.</li>
      <li>Fixed issue where warnings were incorrectly raised for codes that were not in ValueSets but were in CodeSystems.</li>
      <li>Removed warnings in SMART Discovery tests when optional SMART on FHIR capability metadata was not provided.</li>
      <li>Removed validation errors resulting from canonical FHIR URLs not resolving.</li>
      <li>Removed incorrect CapabilityStatement validation errors for the SMART revoke and introspect extensions.</li>

      </ul>
      <p>
      <i>
      NOTICE: If you are updating to Inferno Program Edition v1.1.0 from v1.0.0 in the same directory, please delete or
      rename the files in /data/ (e.g. production.db; development.db; test.db).  Inferno will fail to load if these
      files are not removed or renamed due to a change in the Inferno data schema.
      </i>
      </p>
    <p>
      Please see the <a href='<%=base_path%>/static/downloads/onc_program_matrix_1_1_0.xlsx'>Test Procedure Matrix</a> to view a mapping
      between Inferno Tests and the 2015 Cures Update Test Procedure.
    </p>
    <div style="padding: 0 0 15px 0; font-size: 24px;">Inferno Program Edition v1.0.2</div>
      <p>
      The Inferno Program Edition v1.0.2 patch release reverts an unintended change in testing behavior
      introduced in the previous release. US Core date searches based on period values were updated in v1.0.1 to correctly formulate search queries
      based on resources with periods that start and end on the same day.  This change inadvertently altered how tests formulate date comparator
      search queries, which may result in systems failing tests that previously passed.
      </p>
      <p>
      This update should only alter results for servers that fail search tests in v1.0.1.
      <p>
      <i>
      NOTICE: If you are updating to Inferno Program Edition v1.0.2 from v1.0.0 in the same directory, please delete or
      rename the files in /data/ (e.g. production.db; development.db; test.db).  Inferno will fail to load if these
      files are not removed or renamed due to a change in the Inferno data schema.
      </i>
      </p>
    <p>
      Please see the <a href='<%=base_path%>/static/downloads/onc_program_matrix_1_0_2.xlsx'>Test Procedure Matrix</a> to view a mapping
      between Inferno Tests and the 2015 Cures Update Test Procedure.
    </p>
    <div style="padding: 0 0 15px 0; font-size: 24px;">Inferno Program Edition v1.0.1</div>
      <p>
      This patch update to the Inferno Program Edition includes a number of fixes, updates and improvements.
      All test updates provide more flexibility in implementation than v1.0.0, as allowed in the referenced
      standards and implementation specifications.
      Systems that passed v1.0.0 should continue to pass all tests in v1.0.1.  
      </p>
      <p>
      <i>
      NOTICE: If you are installing v1.0.1 in the same directory as a previous v1.0.0 installation, please delete or
      rename the files in /data/ (e.g. production.db; development.db; test.db).  Inferno will fail to load if these
      files are not removed or renamed due to a change in the Inferno data schema.
      </i>
      </p>
      <p>
        Test updates from the previous version include:
      </p>
      <ul>
        <li>Allow response code of 403 (Forbidden) when the resource being accessed is not authorized by the user.  Previously these tests only allowed 401 (Unauthorized) to be returned, but 403 may be more suitable in this situation where valid credentials are provided but do not provide sufficient scope for the request.  <a href="https://github.com/onc-healthit/inferno-program/pull/129" target="_blank">#129</a> </li>
        <li>Remove 'strict subset' requirement for granted scopes, and allow the authorization service to grant different scopes than were requested by the app.  <a href="https://github.com/onc-healthit/inferno-program/pull/132" target="_blank">#132</a>  </li>
        <li>Change failure to demonstrate all MUST SUPPORT elements in the multi-patient API from FAIL to SKIP to be consistent with single-patient API test behavior.  <a href="https://github.com/onc-healthit/inferno-program/pull/123" target="_blank">#123</a>  </li>
        <li>Change search comparator behavior for dates so that the date range search is more broad to ensure timezone offsets do not cause known dates to not fall within the search query.  <a href="https://github.com/onc-healthit/inferno-program/pull/121" target="_blank">#121</a>  </li>
      </ul>
      <p>
      Additionally, the following updates have been made to the Inferno UI, installation, and deployment configuration:
      </p>
      <ul>
      <li>Security patch update for underlying libraries. <a href="https://github.com/onc-healthit/inferno-program/pull/128" target="_blank">#128</a> </li>
      <li>Load “Server State” asynchronously to improve load time of main testing page. <a href="https://github.com/onc-healthit/inferno-program/pull/125" target="_blank">#125</a> </li>
      <li>Update presets so running Inferno from localhost includes the Inferno Reference Server as a preset option. <a href="https://github.com/onc-healthit/inferno-program/pull/124" target="_blank">#124</a> </li>
      <li>Include language within tests to explain why Diagnostic Report searches are performed in a different order than most other tests.  <a href="https://github.com/onc-healthit/inferno-program/pull/120" target="_blank">#120</a> </li>
      <li>Fix issue that could result in incorrectly redirected SMART Launches being sent to the wrong test session. <a href="https://github.com/onc-healthit/inferno-program/pull/115" target="_blank">#115</a> </li>
      <li>Fix ordering of HTTP requests and responses within the interface.  This update requires users to remove their old SQLite database files.  <a href="https://github.com/onc-healthit/inferno-program/pull/117" target="_blank">#117</a> </li>
      <li>Fix error message formatting on SMART Discovery tests. <a href="https://github.com/onc-healthit/inferno-program/pull/112" target="_blank">#112</a> </li>
      <li>Improve terminology installation tooling instructions. <a href="https://github.com/onc-healthit/inferno-program/pull/111" target="_blank">#111</a> </li>
      </ul>
    
    <p>
      Please see the <a href='<%=base_path%>/static/downloads/onc_program_matrix_1_0_1.xlsx'>Test Procedure Matrix</a> to view a mapping
      between Inferno Tests and the 2015 Cures Update Test Procedure.
    </p>
    <div style="padding: 0 0 15px 0; font-size: 24px;">Inferno Program Edition v1.0.0</div>
      <p>
        The v1.0.0 release of Inferno Program Edition marks the first release containing complete coverage
        of the test procedure for the Standardized API for Patient and Population Services criterion within the ONC 2015
        Certification Edition Cures Update.
      </p>
      <p>
        Updates from the previous version includes:
      </p>
      <ul>
        <li>Public client SMART App Launch testing.</li>
        <li>Additional SMART App Launch tests to ensure that authorization server properly validate launches.</li>
        <li>Improved testing for patient selection of resources to grant or deny.</li>
        <li>Alignment between USCDI and US Core test requirements.</li>
        <li>Token revocation tests.</li>
        <li>Improved visual inspection tests.</li>
      </ul>
    <p>
      Please see the <a href='<%=base_path%>/static/downloads/onc_program_matrix_1_0_0.xlsx'>Test Procedure Matrix</a> to view a mapping
      between Inferno Tests and the 2015 Cures Update Test Procedure.
    </p>
    <div style="padding: 0 0 15px 0; font-size: 24px;">Inferno Program Edition v0.9.6</div>
      <ul>
        <li>Added high-level 'Other' step for tests that do not fit in other steps.</li>
        <li>Added visual inspection tests.</li>
        <li>Updated token refresh test to require that refresh tokens are refreshed.</li>
        <li>Updates to allow empty NDJSON lines because specification is vague on if they are allowed or not.</li>
        <li>Improve test matrix to include Inferno Tests and Test Procedure Steps in separate tabs.</li>
      </ul>

    <p>
      Please see the <a href='<%=base_path%>/static/downloads/onc_program_matrix_0_9_6.xlsx'>Test Procedure Matrix</a> to view a mapping
      between Inferno Tests and the 2015 Cures Update Test Procedure.
    </p>
    <div style="padding: 0 0 15px 0; font-size: 24px;">Inferno Program Edition v0.9.5</div>
      <ul>
        <li>Improved resource validation messages in Bulk Data Group Validation.</li>
        <li>Fixed issue where 'warning' and 'info' messages were reported as 'errors' in Bulk Data Group Validation.</li>
        <li>Fixed logging issue resulting in 'frozen literal' error in Bulk Data Group Validation.</li>
        <li>Removed option to register application with Backend Services using JWK sets directly.  URL JWK Set registration is required.</li>
        <li>Refined behavior allowing users to limit the number of resources validated for large bulk data sets.</li>
        <li>Improved error messages to be more descriptive when incorrect search results returned during US Core queries.</li>
        <li>Fixed issue where test results expanded by default incorrectly labeled the 'Show'/'Hide' button.</li>
        <li>Improved code sharing for US Core profile validation between Bulk Data and Single Patient Queries.</li>
      </ul>

    <p>
      Please see the <a href='<%=base_path%>/static/downloads/onc_program_matrix_0_9_5.xlsx'>Test Procedure Matrix</a> to view a mapping
      between Inferno Tests and the 2015 Cures Update Test Procedure.
    </p>
    <div style="padding: 0 0 15px 0; font-size: 24px;">Inferno Program Edition v0.9.4</div>
      <ul>
        <li>Updated skipped tests results to expand by default, in the same way that failed tests are expanded by default.</li>
        <li>Fixed issue where Authorization header was incorrectly included in queries to SMART Well Known endpoints in certain situations.</li>
        <li>Updated test names and descriptions in US Core tests to provide more detailed information and to be more precise.</li>
        <li>Removed search queries for non-USCDI resources that have US Core v3.1 Profiles (e.g. US Core PractitionerRole).  Non-USCDI resources referenced by USCDI resources are still validated against US Core profiles when necessary.</li>
        <li>Relaxed overly strict SSL requirements for certain Bulk Data HTTP requests.</li>
      </ul>

    <p>
      Please see the <a href='<%=base_path%>/static/downloads/onc_program_matrix_0_9_4.xlsx'>Test Procedure Matrix</a> to view a mapping
      between Inferno Tests and the 2015 Cures Update Test Procedure. 
    </p>
    <div style="padding: 0 0 15px 0; font-size: 24px;">Inferno Program Edition v0.9.3</div>
    <p>
      <ul>
        <li>Introduce <a href='<%=base_path%>/static/downloads/onc_program_matrix_0_9_3.xlsx'>Test Procedure Matrix</a> to document mapping to 2015 Cures Update Test Procedure</li>
        <li>Fix footer links to GitHub repositories</li>
        <li>Improve error message formatting</li>
        <li>Prevent HTML from being rendered in HTTP Responses</li>
        <li>Fix bug in US Core Encounter Profile tests</li>
        <li>Allow users to disable TLS certificate validation for Bulk Data tests</li>
        <li>Add Inferno Reference Server to public deployment</li>
        <li>Fix Access Verify Sequence when servers return 400 in certain cases</li>
        <li>Add CodeSystem validation to supplement existing ValueSet validation</li>
      </ul>
    </p>
    <div style="padding: 0 0 15px 0; font-size: 24px;">Inferno Program Edition v0.9.2</div>
    <p>
      <ul>
        <li>Check Must Support requirements in the bulk data tests</li>
        <li>Update description of USCCN-09 to better describe the requirements around attachments being referenced in DiagnosticReports and DocumentReferences</li>
        <li>Check all patients in clinical notes tests</li>
        <li>Reword warning for bulk data validation counts</li>
        <li>Fix possible fatal error in BDE-06</li>
        <li>Fix fatal error in USCE-12</li>
      </ul>
    </p>
    <div style="padding: 0 0 15px 0; font-size: 24px;">Inferno Program Edition v0.9.1</div>
    <p>
      <ul>
        <li>Update default configuration to persist data when running in docker</li>
        <li>Update default configuration to use correct validator</li>
        <li>Correct outdated EHR launch scopes</li>
        <li>Add test for bulk data DELETE request</li>
        <li>Remove unused terminology service code</li>
        <li>Remove launch/encounter scope from the standalone launch tests</li>
        </li>
      </ul>
    </p>
    <div style="padding: 0 0 15px 0; font-size: 24px;">Inferno Program Edition v0.9.0</div>

    <p>
    The v0.9.0 release of Inferno Program Edition marks the first public release of the Inferno testing
    tool targetting the Standardized API for Patient and Population Services criterion within the ONC 2015
    Certification Edition Cures Update.
    </p>
    <p>
    This release includes testing for all relevant implementation specifications required by the certification criterion,
    including FHIR Release 4.0.1, FHIR US Core Implementation Guide STU 3.1.1, SMART Application Launch Framework
    Implementation Guide Release 1.0.0, and HL7 FHIR Bulk Data Access (Flat FHIR) (v1.0.0: STU 1).
    <p>
    <p>
    Inferno Program Edition will support the test procedure accompanying § 170.315(g)(10).  This version is provided as a
    preview and may diverge from the test procedure in a number ways.  These will be addressed prior to the
    effective date of the rule. Please report any issues at the <a href="https://github.com/onc-healthit/inferno-program/issues">Inferno Program Edition</a> GitHub repository.
    </p>

    <p>This version is configured to use the following by default:

    <ul>
    <li>FHIR Validation provided by <a href='https://confluence.hl7.org/display/FHIR/Using+the+FHIR+Validator'>FHIR Validator</a> v4.3.1-SNAPSHOT </li>
    <li>Terminology codes validated against <a href='https://www.nlm.nih.gov/research/umls/index.html'>Unified Medical Language System (UMLS)</a> version 2019AB.  Account required for local installation.
    </ul>

    </p>

</div>


    </div>
  </div>
</div>
</div>
